 <% if @user.errors.any? %>
  <%=@user.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">  <!-- この行を追加 -->
  <div class="row"><!-- この行を追加 -->
     <div class="col-md-3">

      <h2>User info</h2>

      <p><%= image_tag @user.get_profile_image(100,100) %></p>

      <h5>name  <%= @user.name %></h5>
      <h5>introduction  <%= @user.introduction %></h5>

       <div class="row">
      <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
      </div>

      <h2>New book</h2>


      <%= form_with model: Book.new do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>

        <p>Opinion</p>
        <%= f.text_area :body %>

        <%= f.submit 'Create Book' %>
      <% end %>
    </div>
      <div class="col-md-8 offset-md-1">

      <h1>users</h1>
       <table class="table">
        <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
             <% @users.each do |user| %>
           <tr>
             <td><%= image_tag user.get_profile_image(100,100) %></td>
             <td><%= user.name %></td>
             <td><%= link_to "Show", user_path(user.id) %></td>
            </tr>
             <% end %>
          </tbody>
        </table>
       </div>
     </div>
  </div>
